/* https://dribbble.com/shots/21592427-Jobsly-Sidebar-UI */
/* Demo example */

.cas-demo {
    background-origin: content-box;
    background: var(--background);

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cas-demo > h1 {
    font-size: 2rem;
    margin-bottom: 50px;
    text-shadow: 0 0 4px blue;
    font-weight: bold;
    text-align: center;
}

.cas-demo > nav {
    z-index: 998;
    position: absolute;
    left: 15px;
    top: 50%;
    translate: 0 -45%;

    height: 70vh;
    min-height: 550px;
    width: 25%;
    min-width: 250px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    padding-top: 20px;
    margin-top: 25px;

    background-color: black;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 0 15px #3b82f6;
}

.cas-demo > nav > h1 {
    align-self: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.cas-demo > nav > hr {
    width: 100%;
    border-bottom: 1px solid white;
    margin-bottom: 25px;
}

.cas-demo > nav .open-close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(-50%);
  
  width: 25px;
  height: 45px;
  background: black;
  border-radius: 0 8px 8px 0;
  border: 1px solid white;
  box-shadow: inset 2px 0 15px -2px white;
}

.cas-demo > nav .open-close {
  position: absolute;
  right: -18px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.cas-demo > nav .open-close > div {
  position: relative;
  width: 0;
  height: 0;
  caret-color: transparent;

  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid white;
  transition: transform 0.3s ease;
}

.cas-demo > nav .open-close > div.open {
  transform: rotate(180deg);
}

.cas-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-left: 10%;
    margin-bottom: 50px;
    align-items: flex-start;

    font-size: 1.5rem;
    line-height: 2.5rem;
}

.cas-menu button {
    display: inline-flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    min-width: fit-content;
    width: 20vw;
    padding: 0 0.5rem;
    flex-wrap: nowrap;
    white-space: nowrap;
    caret-color: transparent;
}

.cas-menu button:hover {
    transform: scale(1.1) translateX(15px);
}

.cas-menu button.selected {
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 1px 2px 2px rgba(169, 169, 169, 0.5);
    border-radius: 5px;
}

.cas-demo > form {
    width: 75vw;
}

.cas-demo-output {
  padding: 0.5rem 1rem;
  margin-bottom: 5%;
  
  width: 100%;
  height: 5rem;
  height: fit-content;
  max-height: 8rem;
  
  overflow-y: auto;
  font-size: 2rem;
  text-align: center;
  word-break: break-word;

  background: rgba(255,255,255,0.05);
  border-radius: 0.5rem;  
  box-shadow: 0 0 5px rgba(169, 169, 169, 0.35);

  caret-color: rgba(0, 0, 0, 0);
}

.cas-demo-input {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 25px;
    align-items: center;
}

@media (min-width: 1024px) {
    .cas-demo-input {
        flex-direction: row;
        padding-left: 25px;
    }
}

.cas-demo-input > p {
    width: 100%;
}

@media (min-width: 1024px) {
    .cas-demo-input > p {
        max-width: 50%;
        
    }
}

.cas-demo-input > input {
    font-size: 1.5rem;
    line-height: 2.5rem;

    padding-left: 0.75rem;
    min-width: 25%;

    border: 3px solid white;
    height: 3rem;
    border-radius: 5px;
}

.cas-demo-input > button {
    color: rgb(243, 244, 246);
    text-transform: capitalize;
    text-shadow: 0 0 16px #2b82f6;

    font-size: 1.75rem;

    width: 175px;
    text-align: center;
    backdrop-filter: blur(12px);
    background-color:  rgba(255, 255, 255, 0.15);
    background-blend-mode: lighten;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
                0 4px 6px -4px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;

    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
    overflow: hidden;

    cursor: pointer;
}

.cas-demo-input > button:hover {
    transform: scale(1.05) translateY(-0.1rem);
    background-color: rgb(59, 130, 246);
    box-shadow: 0 0 8px 1px rgb(59, 130, 246);
}