/* Project popup container */
.projectPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-right: 1em;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Responsive layout: > small */
@media (min-width: 640px) {
  .projectPopup {
    padding-right: 0;
  }
}

/* Popup content box */
.projectBox {
  position: fixed;

  background-color: #0d1b2a;
  border-radius: 1rem;
  border-width: 5px;
  border-color: #000000;
  padding: 2rem;
  max-width: 1500px;
  width: 90%;
  min-height: 80%;
  max-height: 90%;
  color: white;
  box-shadow: 0 0 12px #3b82f6;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

.projectBox .modalTopClose {
  position: absolute;
  top: 1.5%;
  right: 2%;
  font-size: 2rem;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .projectBox .modalTopClose {
    top: 3%;
    right: auto;
    align-self: flex-end;
    font-size: 2.5rem;
  }
}

/* Project title */
.projectBox h1 {
  margin-left: 1rem;
  margin-top: 0.1vh;
  margin-bottom: 0.5rem;

  font-size: 2.25rem;
  font-weight: bold;
  white-space: nowrap;

  text-shadow: 0 0 16px #3b82f6;
}

@media (min-width: 1024px) {
  .projectBox h1 {
    font-size: 3rem;
  }
}

/* Project subtitle */
.projectBox h2 {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 602px) {
  .projectBox h2 {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
}

.projectStack {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding: 0;
}

.projectStack li {
  border-radius: 12px;
  padding: 0.5rem 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  font-weight: bold;
  gap: 5px;
}

.projectStack li:hover {
  background: rgba(230, 230, 230, 0.75);
  transform: translateY(-2px);
}

.projectStack li img {
  border-radius: 12px;
  padding: 8%;
  background: rgba(240, 240, 240, 0.4);
  height: 10vw;
  width: 12vw;
  object-fit: contain;
  filter: none;
}

@media (min-width: 604px) {
  .projectStack li img {
    height: 70px;
    width: 80px;
  }
}

/* Project Description */
.projectBox p {
    font-size: 1.1rem;
    text-align: left;
    text-indent: 2rem;

    margin: 2rem 0rem;
}

/* Responsive layout: > medium */
@media (min-width: 1024px) {
  .projectBox p {
    font-size: 1.3rem;
  }
}

/* Close Button */
.projectBox .modalBottomClose {
    position: sticky;
    bottom: 25px;
    align-self: center;
    display: none;

    color: rgb(243, 244, 246);
    text-transform: capitalize;
    text-shadow: 0 0 16px #2b82f6;

    font-size: 1.5rem;
    line-height: 2rem;
    min-height: 35px;

    padding: 0rem 1.25rem;
    backdrop-filter: blur(15px);
    background-color:  rgba(255, 255, 255, 0.05);
    background-blend-mode: lighten;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
                0 4px 6px -4px rgba(0, 0, 0, 0.2),
                inset 0 0 7px rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;

    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
    overflow: hidden;
    max-height: 33px;

    cursor: pointer;
}

@media (min-width: 1024px) {
  .projectBox .modalBottomClose {
    display: block;
  }
}

.projectBox .modalBottomClose:hover {
    transform: scale(1.05) translateY(-0.1rem);
    background-color: #3b82f6;
    box-shadow: 0 0 8px 1px #3b82f6;
}

/* Project features container */
.featuresContainer {
  display: flex;
  flex-direction: column-reverse;
  gap: 15;
}

@media (min-width: 1024px) {
  .featuresContainer {
    flex-direction: row;
  }
}

/* Project Image container (for overlay) */
.projectImage {
  position: relative;
  align-self: center;

  box-shadow: 0 0 10px 1px #3b82f6;
  border-radius: 10px;
  left: -0.02;
  height: fit-content;
  width: fit-content;
}

/* Pseudo-element for box shadow over image */
.projectImageOverlay::after {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  transition: box-shadow 0.2s ease;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 1);
}

/* On hover, removes box shadow */
.projectImageOverlay:hover::after {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

/* Project Image (image itself) */
.projectImage img {
  border-radius: 10px;
  transition: filter 0.2s ease;
  max-height: 250px;
  width: auto;
}

/* Project image link (if present) */
.projectImageOverlay div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  cursor: pointer;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  padding: 0.5rem 1rem;

  font-weight: bold;
  background: rgba(20, 20, 20, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 0.5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);

  transition: all 0.25s ease;
}

/* Project image link styled when image is hovered over */
.projectImageOverlay:hover div {
  transform: translate(-50%, -55%) scale(1.05);
  background: rgba(15, 15, 15, 0.85);
}

/* Further animation when the button is hovered over directly */
.projectImageOverlay div:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
}

/* Project features list and header container */
.projectFeatures {
  padding: 1rem;
  text-align: left;
}

/* Features header */
.projectFeatures h3 {
  font-size: 2rem;
  font-weight: bold;
}

/* Features list */
.projectFeatures ul {
  padding: 1rem;
  list-style-type: disc;
  font-size: 1.15rem;
  
  display: flex;
  gap: 15px;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  max-width: 602px;
}

@media (min-width: 1024px) {
  .projectFeatures ul {
    font-size: 1.5rem;
    gap: 25px;
  }
  
}

.modalGithubLink {
  position: relative;
  align-self: center;
  font-size: 2rem;
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 0.3rem;
}

.modalGithubLink:hover {
  transform: scale(1.2);
  box-shadow: 0 0 16px 4px #3b82f6;
  background: #3b82f6;
  color: #fff;
}

@media (min-width: 1024px) {
  .modalGithubLink {
    align-self: flex-start;
    left: 10%;
  }
}