@import "tailwindcss";

:root {
  --background: linear-gradient(120deg, #000000 0%, #0a1a3c 100%);
  --foreground: #ffffff;
  --font-sans: var(--font-roboto-condensed)
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-robot-condensed);
}

html, body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: var(--font-roboto-condensed), Arial, Helvetica, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

.gradBackground {
  background-origin: content-box;
  background: var(--background);
}

.glowOnHover {
    transition: transform 0.2s, box-shadow 0.2s;
}

.glowOnHover:hover {
    transform: scale(1.05);
    box-shadow: 0 0 16px 4px #3b82f6;
}

.sectionTitle {
    text-shadow: 0 0 16px #3b82f6;
}

.backgroundGlow {
    box-shadow: 0 0 16px 1px #3b82f6;
    background-color: #3b82f6;
}

.glow {
    transition: transform 0.2s;
    box-shadow: 0 0 16px 1px #3b82f6;
}

.glow:hover {
    transform: scale(1.05);
}
