@import "tailwindcss";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
  --background: linear-gradient(135deg, #000000 0%, #0a1a3c 100%);
  --foreground: #ffffff;
  --font-sans: var(--font-roboto-condensed)
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-robot-condensed);
}

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-condensed), Arial, Helvetica, sans-serif;
}