.navItems li {
    transition: transform 0.2s;
    font-size: 1.5rem;
    line-height: 2rem;
    position: relative;
    overflow: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 2.5rem;
    text-transform: capitalize;
    color: rgb(243, 244, 246);
    text-decoration: none;
    text-shadow: 0 0 16px #2b82f6;
    backdrop-filter: blur(12px); /* 'md' blur in Tailwind is 12px */
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
                0 4px 6px -4px rgba(0, 0, 0, 0.2); /* shadow-lg + black/20 */
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    margin: 10;
    max-height: 33;
}

.navItems li:hover {
    transform: scale(1.1) translateY(-0.25rem);
    background-color: #3b82f6;
    box-shadow: 0 0 16px 1px #3b82f6;
}

.navItems Link {
    display: inline-flex;
}

.navExtern {
    display: inline-flex;
    font-weight: bold;
    gap: 5px;
}

.navItemsMobile li {
    transition: transform 0.2s;
    font-size: 1.5rem;
    line-height: 2rem;
    position: relative;
    overflow: hidden;
    padding-top: 0.5rem;
    padding-bottom: 2.5rem;
    padding-left: 1rem;
    text-transform: capitalize;
    color: rgb(243, 244, 246);
    text-shadow: 0 0 16px #2b82f6;
    margin: 10;
    max-height: 33;
    width: 65vw;
    border-radius: 5px;
}

.navItemsMobile li:hover {
    transform: scale(1.1) translateY(-0.25rem);
    background-color: #3b82f6;
    box-shadow: 0 0 16px 1px #3b82f6;
}

.navItemsMobile Link {
    display: contents;
}