.navbarItem {
    text-shadow: 0 0 16px #2b82f6;
    backdrop-filter: blur(12px); /* 'md' blur in Tailwind is 12px */
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
                0 4px 6px -4px rgba(0, 0, 0, 0.2); /* shadow-lg + black/20 */
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    margin: 10;
}

li.navbarItem {
    transition: transform 0.2s;
}

li.navbarItem:hover {
    transform: scale(1.1) translateY(-0.25rem);
    background-color: #3b82f6;
    box-shadow: 0 0 16px 1px #3b82f6;
}